<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bat.flexible.dao.burying.BuryingPointDOMapper" >
  <resultMap id="BaseResultMap" type="com.bat.flexible.dao.burying.dataobject.BuryingPointDO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="source" property="source" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="distributor_id" property="distributorId" jdbcType="INTEGER" />
    <result column="network_type" property="networkType" jdbcType="SMALLINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, source, user_id, distributor_id, network_type, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from burying_point
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from burying_point
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bat.flexible.dao.burying.dataobject.BuryingPointDO" keyProperty="id" useGeneratedKeys="true" >
    insert into burying_point (id, source, user_id, 
      distributor_id, network_type, create_time
      )
    values (#{id,jdbcType=INTEGER}, #{source,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER},
      #{distributorId,jdbcType=INTEGER}, #{networkType,jdbcType=SMALLINT}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bat.flexible.dao.burying.dataobject.BuryingPointDO" useGeneratedKeys="true" keyProperty="id">
    insert into burying_point
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="source != null" >
        source,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="distributorId != null" >
        distributor_id,
      </if>
      <if test="networkType != null" >
        network_type,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="source != null" >
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="distributorId != null" >
        #{distributorId,jdbcType=INTEGER},
      </if>
      <if test="networkType != null" >
        #{networkType,jdbcType=SMALLINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bat.flexible.dao.burying.dataobject.BuryingPointDO" >
    update burying_point
    <set >
      <if test="source != null" >
        source = #{source,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="distributorId != null" >
        distributor_id = #{distributorId,jdbcType=INTEGER},
      </if>
      <if test="networkType != null" >
        network_type = #{networkType,jdbcType=SMALLINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bat.flexible.dao.burying.dataobject.BuryingPointDO" >
    update burying_point
    set source = #{source,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      distributor_id = #{distributorId,jdbcType=INTEGER},
      network_type = #{networkType,jdbcType=SMALLINT},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>