<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bat.flexible.dao.exchange.ExchangeSpecialReceiveMapper">
  <resultMap id="BaseResultMap" type="com.bat.flexible.dao.exchange.dataobject.ExchangeSpecialReceiveDO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="special_release_id" jdbcType="INTEGER" property="specialReleaseId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="exchange_code_id" jdbcType="INTEGER" property="exchangeCodeId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, special_release_id, user_id, exchange_code_id, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from exchange_special_receive
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from exchange_special_receive
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bat.flexible.dao.exchange.dataobject.ExchangeSpecialReceiveDO">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into exchange_special_receive (special_release_id, user_id, exchange_code_id, 
      create_time)
    values (#{specialReleaseId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{exchangeCodeId,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.bat.flexible.dao.exchange.dataobject.ExchangeSpecialReceiveDO">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into exchange_special_receive
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="specialReleaseId != null">
        special_release_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="exchangeCodeId != null">
        exchange_code_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="specialReleaseId != null">
        #{specialReleaseId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="exchangeCodeId != null">
        #{exchangeCodeId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bat.flexible.dao.exchange.dataobject.ExchangeSpecialReceiveDO">
    update exchange_special_receive
    <set>
      <if test="specialReleaseId != null">
        special_release_id = #{specialReleaseId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="exchangeCodeId != null">
        exchange_code_id = #{exchangeCodeId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bat.flexible.dao.exchange.dataobject.ExchangeSpecialReceiveDO">
    update exchange_special_receive
    set special_release_id = #{specialReleaseId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      exchange_code_id = #{exchangeCodeId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>