<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bat.flexible.dao.picture.PictureThemeDOMapper" >
  <resultMap id="BaseResultMap" type="com.bat.flexible.dao.picture.dataobject.PictureThemeDO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="distributor_id" property="distributorId" jdbcType="INTEGER" />
    <result column="distributor_name" property="distributorName" jdbcType="VARCHAR" />
    <result column="open_flag" property="openFlag" jdbcType="SMALLINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, distributor_id, distributor_name, open_flag, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from picture_theme
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from picture_theme
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bat.flexible.dao.picture.dataobject.PictureThemeDO" useGeneratedKeys="true" keyProperty="id" >
    insert into picture_theme (id, name, distributor_id, 
      distributor_name, open_flag, create_time
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{distributorId,jdbcType=INTEGER}, 
      #{distributorName,jdbcType=VARCHAR}, #{openFlag,jdbcType=SMALLINT}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bat.flexible.dao.picture.dataobject.PictureThemeDO" useGeneratedKeys="true" keyProperty="id" >
    insert into picture_theme
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="distributorId != null" >
        distributor_id,
      </if>
      <if test="distributorName != null" >
        distributor_name,
      </if>
      <if test="openFlag != null" >
        open_flag,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="distributorId != null" >
        #{distributorId,jdbcType=INTEGER},
      </if>
      <if test="distributorName != null" >
        #{distributorName,jdbcType=VARCHAR},
      </if>
      <if test="openFlag != null" >
        #{openFlag,jdbcType=SMALLINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bat.flexible.dao.picture.dataobject.PictureThemeDO" >
    update picture_theme
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="distributorId != null" >
        distributor_id = #{distributorId,jdbcType=INTEGER},
      </if>
      <if test="distributorName != null" >
        distributor_name = #{distributorName,jdbcType=VARCHAR},
      </if>
      <if test="openFlag != null" >
        open_flag = #{openFlag,jdbcType=SMALLINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bat.flexible.dao.picture.dataobject.PictureThemeDO" >
    update picture_theme
    set name = #{name,jdbcType=VARCHAR},
      distributor_id = #{distributorId,jdbcType=INTEGER},
      distributor_name = #{distributorName,jdbcType=VARCHAR},
      open_flag = #{openFlag,jdbcType=SMALLINT},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="listByOpenFlagAndContent" resultMap="BaseResultMap">
    SELECT a.*  FROM picture_theme a WHERE 1=1
        <if test="openFlag !=null">
          and a.open_flag = #{openFlag}
        </if>
       <if test="content !=null and content !=''">
         and (a.name like concat('%',#{content},'%') or a.distributor_name like concat('%',#{content},'%'))
       </if>
  </select>
</mapper>