<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bat.distributor.dao.category.CategoryMapper">
    <resultMap id="BaseResultMap" type="com.bat.distributor.dao.category.dataobject.CategoryDO">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="erp_category_no" jdbcType="VARCHAR" property="erpCategoryNo"/>
        <result column="order_type_id" jdbcType="INTEGER" property="orderTypeId"/>
        <result column="open_flag" jdbcType="SMALLINT" property="openFlag"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="category_columns">
        id,
        name,
        description,
        erp_category_no,
        order_type_id,
        open_flag,
        create_time,
        update_time
    </sql>

    <sql id="category_select">
        SELECT
        <include refid="category_columns"/>
        FROM distributor_category
    </sql>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from distributor_category
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.bat.distributor.dao.category.dataobject.CategoryDO">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into distributor_category (name, description, erp_category_no,
        order_type_id, open_flag, create_time,
        update_time)
        values (#{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{erpCategoryNo,jdbcType=VARCHAR},
        #{orderTypeId,jdbcType=INTEGER}, #{openFlag,jdbcType=SMALLINT}, #{createTime,jdbcType=TIMESTAMP},
        #{updateTime,jdbcType=TIMESTAMP})
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.bat.distributor.dao.category.dataobject.CategoryDO">
    update distributor_category
    set name = #{name,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      erp_category_no = #{erpCategoryNo,jdbcType=VARCHAR},
      order_type_id = #{orderTypeId,jdbcType=INTEGER},
      open_flag = #{openFlag,jdbcType=SMALLINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, name, description, erp_category_no, order_type_id, open_flag, create_time, 
    update_time
    from distributor_category
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
    select id, name, description, erp_category_no, order_type_id, open_flag, create_time, 
    update_time
    from distributor_category
  </select>

    <update id="openCategory" parameterType="map">
        UPDATE distributor_category SET open_flag = #{openFlag} where id = #{id}
    </update>

    <select id="getCategoryDistributorsCount" resultType="int" parameterType="map">
        select count(1) FROM distributor_business WHERE distributor_category_id = #{categoryId}
    </select>

    <select id="listCategory" resultMap="BaseResultMap" parameterType="map">
        <include refid="category_select"/>
        WHERE 1=1
        <if test="@org.apache.commons.lang3.StringUtils@isNotBlank(content)">
            and name like concat(concat('%',#{content}),'%')
        </if>
        <if test="openFlag != null">
            and open_flag = #{openFlag}
        </if>
        order by update_time desc
    </select>
</mapper>