<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bat.distributor.dao.distributor.DistributorNextScalePriceMapper">
    <resultMap id="BaseResultMap" type="com.bat.distributor.dao.distributor.dataobject.DistributorNextScalePriceDO">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="distributor_id" jdbcType="INTEGER" property="distributorId"/>
        <result column="next_scale_price_id" jdbcType="INTEGER" property="nextScalePriceId"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from distributor_next_scale_price
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.bat.distributor.dao.distributor.dataobject.DistributorNextScalePriceDO">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into distributor_next_scale_price (distributor_id, next_scale_price_id)
        values (#{distributorId,jdbcType=INTEGER}, #{nextScalePriceId,jdbcType=INTEGER})
    </insert>
    <update id="updateByPrimaryKey"
            parameterType="com.bat.distributor.dao.distributor.dataobject.DistributorNextScalePriceDO">
    update distributor_next_scale_price
    set distributor_id = #{distributorId,jdbcType=INTEGER},
      next_scale_price_id = #{nextScalePriceId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, distributor_id, next_scale_price_id
    from distributor_next_scale_price
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="listByNextScalePriceId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, distributor_id, next_scale_price_id
    from distributor_next_scale_price
    where next_scale_price_id = #{nextScalePriceId,jdbcType=INTEGER}
  </select>

    <select id="selectBydistributorId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, distributor_id, next_scale_price_id
    from distributor_next_scale_price
    where distributor_id = #{distributorId,jdbcType=INTEGER}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
    select id, distributor_id, next_scale_price_id
    from distributor_next_scale_price
  </select>
    <delete id="deleteByDistributorId" parameterType="java.lang.Integer">
    delete from distributor_next_scale_price
    where distributor_id = #{distributorId,jdbcType=INTEGER}
  </delete>
</mapper>