<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bat.distributor.dao.nextscaleprice.NextScalePriceMapper">
    <resultMap id="BaseResultMap" type="com.bat.distributor.dao.nextscaleprice.dataobject.NextScalePriceDO">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="distributor_id" jdbcType="INTEGER" property="distributorId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="arithmetic_type" jdbcType="SMALLINT" property="arithmeticType"/>
        <result column="arithmetic_num" jdbcType="DECIMAL" property="arithmeticNum"/>
        <result column="special_flag" jdbcType="SMALLINT" property="specialFlag"/>
        <result column="open_flag" jdbcType="SMALLINT" property="openFlag"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <resultMap id="NextScalePriceFormulaMap"
               type="com.bat.distributor.dao.nextscaleprice.dataobject.NextScalePriceFormulaDO">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="distributor_id" jdbcType="INTEGER" property="distributorId"/>
        <result column="arithmetic_type" jdbcType="SMALLINT" property="arithmeticType"/>
        <result column="arithmetic_num" jdbcType="DECIMAL" property="arithmeticNum"/>
        <result column="special_flag" jdbcType="SMALLINT" property="specialFlag"/>
        <result column="open_flag" jdbcType="SMALLINT" property="openFlag"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from next_scale_price
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.bat.distributor.dao.nextscaleprice.dataobject.NextScalePriceDO">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into next_scale_price (distributor_id, name, arithmetic_type,
        arithmetic_num,special_flag, open_flag, create_time,
        update_time)
        values (#{distributorId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{arithmeticType,jdbcType=SMALLINT},
        #{arithmeticNum,jdbcType=DECIMAL}, #{specialFlag,jdbcType=SMALLINT}, #{openFlag,jdbcType=SMALLINT},
        #{createTime,jdbcType=TIMESTAMP},
        #{updateTime,jdbcType=TIMESTAMP})
    </insert>
    <update id="updateByPrimaryKey"
            parameterType="com.bat.distributor.dao.nextscaleprice.dataobject.NextScalePriceDO">
    update next_scale_price
    set distributor_id = #{distributorId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      arithmetic_type = #{arithmeticType,jdbcType=SMALLINT},
      arithmetic_num = #{arithmeticNum,jdbcType=DECIMAL},
      special_flag = #{specialFlag,jdbcType=SMALLINT},
      open_flag = #{openFlag,jdbcType=SMALLINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, distributor_id, name, arithmetic_type, arithmetic_num,special_flag, open_flag, create_time,
    update_time
    from next_scale_price
    where id = #{id,jdbcType=INTEGER}
  </select>

    <select id="listByIds" parameterType="map" resultMap="BaseResultMap">
        select id, distributor_id, name, arithmetic_type, arithmetic_num,special_flag, open_flag, create_time,
        update_time
        from next_scale_price
        where id in
        <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="selectByDistributorId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, distributor_id, name, arithmetic_type, arithmetic_num,special_flag, open_flag, create_time,
    update_time
    from next_scale_price
    where distributor_id = #{distributorId,jdbcType=INTEGER}
  </select>
    <select id="listByNextDistributorIds" parameterType="map" resultMap="NextScalePriceFormulaMap">
        select nsp.id, dnsp.distributor_id, nsp.arithmetic_type, nsp.arithmetic_num,nsp.special_flag,
        nsp.open_flag
        from distributor_next_scale_price dnsp join next_scale_price nsp on nsp.id = dnsp.next_scale_price_id
        where dnsp.distributor_id in
        <foreach collection="distributorIds" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
    select id, distributor_id, name, arithmetic_type, arithmetic_num,special_flag, open_flag, create_time,
    update_time
    from next_scale_price
  </select>

    <select id="listNextScalePrice" parameterType="map" resultMap="BaseResultMap">
        select id, distributor_id, name, arithmetic_type, arithmetic_num,special_flag, open_flag, create_time,
        update_time
        from next_scale_price
        where distributor_id = #{distributorId}
        <if test="openFlag != null">
            and open_flag = #{openFlag}
        </if>
    </select>
</mapper>