<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bat.distributor.dao.platform.WxPlatformDistributorMapper">
    <resultMap id="BaseResultMap" type="com.bat.distributor.dao.platform.dataobject.WxPlatformDistributorDO">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="wx_platform_id" jdbcType="INTEGER" property="wxPlatformId"/>
        <result column="distributor_id" jdbcType="INTEGER" property="distributorId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="company_name" jdbcType="VARCHAR" property="companyName"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from wx_platform_distributor
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.bat.distributor.dao.platform.dataobject.WxPlatformDistributorDO">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into wx_platform_distributor (wx_platform_id, distributor_id, name,
        company_name)
        values (#{wxPlatformId,jdbcType=INTEGER}, #{distributorId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},
        #{companyName,jdbcType=VARCHAR})
    </insert>
    <update id="updateByPrimaryKey"
            parameterType="com.bat.distributor.dao.platform.dataobject.WxPlatformDistributorDO">
    update wx_platform_distributor
    set wx_platform_id = #{wxPlatformId,jdbcType=INTEGER},
      distributor_id = #{distributorId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      company_name = #{companyName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, wx_platform_id, distributor_id, name, company_name
    from wx_platform_distributor
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
    select id, wx_platform_id, distributor_id, name, company_name
    from wx_platform_distributor
  </select>

    <delete id="deleteByWxPlatformId" parameterType="java.lang.Integer">
    delete from wx_platform_distributor
    where wx_platform_id = #{wxPlatformId,jdbcType=INTEGER}
  </delete>

    <update id="insertList" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" separator=";">
            insert into wx_platform_distributor (wx_platform_id, distributor_id, name,
            company_name)
            values (#{item.wxPlatformId,jdbcType=INTEGER}, #{item.distributorId,jdbcType=INTEGER},
            #{item.name,jdbcType=VARCHAR},
            #{item.companyName,jdbcType=VARCHAR})
        </foreach>
    </update>

    <select id="listByWxPlatformId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, wx_platform_id, distributor_id, name, company_name
    from wx_platform_distributor
    where wx_platform_id = #{wxPlatformId,jdbcType=INTEGER}
  </select>
</mapper>