.sprite-icon{
  display: inline-block;
  background-image: url(../../assets/images/sprite.png);
  background-size: 334px 321px;
}
.announcement{
  width: 27.5px;
  height: 11.5px;
  background-position: -206px -132px;
}
.arrow_left{
  width: 17.5px;
  height: 16.5px;
  background-position: -130px -281px;
}
.arrow_right{
  width: 17.5px;
  height: 16.5px;
  background-position: -148.5px -281px;
}
.customized_button_canva{
  width: 64.5px;
  height: 65px;
  background-position: -206px -66px;
}
.customized_button_Mapping{
  width: 65px;
  height: 65px;
  background-position: -206px 0px;
}
.customized_button_material{
  width: 64.5px;
  height: 65px;
  background-position: 0px -151px;
}
.customized_button_Template{
  width: 64.5px;
  height: 65px;
  background-position: -65.5px -151px;
}
.customized_button_upload{
  width: 64.5px;
  height: 65px;
  background-position: -131px -151px;
}
.customized_button_word{
  width: 64.5px;
  height: 65px;
  background-position: -196.5px -151px;
}
.home_icon_top{
  width: 8px;
  height: 8.5px;
  background-position: -322px -204.5px;
}
.home_menu_customized{
  width: 15px;
  height: 15px;
  background-position: -189px -93.5px;
}
.home_menu_gallery{
  width: 15px;
  height: 15px;
  background-position: -202px -281px;
}
.home_menu_rapidly{
  width: 15px;
  height: 15px;
  background-position: -218px -281px;
}
.home_menu_texture{
  width: 15px;
  height: 15px;
  background-position: -234px -281px;
}
.home_menu_theme{
  width: 15px;
  height: 15px;
  background-position: -250px -281px;
}
.home_title_recommended{
  width: 166.5px;
  height: 29px;
  background-position: 0px -121px;
}
.icon_bianji{
  width: 14px;
  height: 14px;
  background-position: -266px -281px;
}
.icon_fanhui{
  width: 13px;
  height: 16px;
  background-position: 0px -305px;
}
.icon_layer{
  width: 17px;
  height: 17px;
  background-position: -315px -247px;
}
.icon_picture{
  width: 26.5px;
  height: 26.5px;
  background-position: -112.5px -93.5px;
}
.icon_replace{
  width: 17px;
  height: 17px;
  background-position: -112px -281px;
}
.icon_shouhui{
  width: 10px;
  height: 11.5px;
  background-position: -322px -192px;
}
.icon_tihuan{
  width: 14px;
  height: 14px;
  background-position: -281px -281px;
}
.layer_icon_Movedown{
  width: 16.5px;
  height: 16.5px;
  background-position: -167px -281px;
}
.layer_icon_Moveup{
  width: 16.5px;
  height: 16.5px;
  background-position: -184.5px -281px;
}
.login_icon_password{
  width: 21px;
  height: 21px;
  background-position: -24px -281px;
}
.login_icon_phone{
  width: 21px;
  height: 21px;
  background-position: -46px -281px;
}
.login_icon_verification{
  width: 21px;
  height: 21px;
  background-position: -68px -281px;
}
.login_logo{
  width: 92.5px;
  height: 92.5px;
  background-position: -112.5px 0px;
}
.model_icon_phone{
  width: 21px;
  height: 21px;
  background-position: -90px -281px;
}
.my_button_finish{
  width: 62px;
  height: 63px;
  background-position: -272px 0px;
}
.my_button_pay{
  width: 62px;
  height: 63px;
  background-position: -272px -64px;
}
.my_button_Receiving{
  width: 62px;
  height: 63px;
  background-position: -272px -128px;
}
.my_button_send{
  width: 62px;
  height: 63px;
  background-position: 0px -217px;
}
.my_icon_address{
  width: 24px;
  height: 24px;
  background-position: -272px -192px;
}
.my_icon_coupon{
  width: 24px;
  height: 24px;
  background-position: -297px -192px;
}
.my_icon_service{
  width: 24px;
  height: 24px;
  background-position: -140px -93.5px;
}
.notice{
  width: 13px;
  height: 11px;
  background-position: -234.5px -132px;
}
.start_button_star{
  width: 111.5px;
  height: 120px;
  background-position: 0px 0px;
}
.tab_Cart_pre{
  width: 23px;
  height: 23px;
  background-position: -165px -93.5px;
}
.tab_Cart{
  width: 23px;
  height: 23px;
  background-position: -123px -247px;
}
.tab_customized_pre{
  width: 23px;
  height: 23px;
  background-position: -147px -247px;
}
.tab_customized{
  width: 23px;
  height: 23px;
  background-position: -171px -247px;
}
.tab_my_pre{
  width: 23px;
  height: 23px;
  background-position: -195px -247px;
}
.tab_my{
  width: 23px;
  height: 23px;
  background-position: -219px -247px;
}
.tab_bat_pre_sam{
  width: 23px;
  height: 23px;
  background-position: -243px -247px;
}
.tab_bat_pre{
  width: 23px;
  height: 23px;
  background-position: -267px -247px;
}
.tab_bat_sam{
  width: 23px;
  height: 23px;
  background-position: -291px -247px;
}
.tab_bat{
  width: 23px;
  height: 23px;
  background-position: 0px -281px;
}
.template_icon_brightness_pre{
  width: 29px;
  height: 29px;
  background-position: -167.5px -121px;
}
.template_icon_brightness{
  width: 29px;
  height: 29px;
  background-position: -63px -217px;
}
.template_icon_contrast_pre{
  width: 29px;
  height: 29px;
  background-position: -93px -217px;
}
.template_icon_contrast{
  width: 29px;
  height: 29px;
  background-position: -123px -217px;
}
.template_icon_Filter{
  width: 29px;
  height: 29px;
  background-position: -153px -217px;
}
.template_icon_flip2{
  width: 29px;
  height: 29px;
  background-position: -183px -217px;
}
.template_icon_Freeflip{
  width: 29px;
  height: 29px;
  background-position: -213px -217px;
}
.template_icon_hsb{
  width: 29px;
  height: 29px;
  background-position: -243px -217px;
}
.template_icon_Reset{
  width: 29px;
  height: 29px;
  background-position: -273px -217px;
}
.template_icon_saturation_pre{
  width: 29px;
  height: 29px;
  background-position: -303px -217px;
}
.template_icon_saturation{
  width: 29px;
  height: 29px;
  background-position: -63px -247px;
}
.template_icon_turn{
  width: 29px;
  height: 29px;
  background-position: -93px -247px;
}