@import "variable.styl"

body, html ,.container{
	line-height: 1
	font-family: 'PingFangSC-Medium', 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', 'arial', 'sans-serif', 'Droid Sans Fallback'
	background: $rx-bg-color
	color: $rx-text-color-primary
}
