@import "variable.styl"
.text-h1
	font-size : $rx-text-size-h1
	color : $rx-text-color-primary
.text-h2
	font-size : $rx-text-size-h2
	color : $rx-text-color-dark-grey
.text
	font-size : $rx-text-size
	color : $rx-text-color-grey