//标准色------------------------------------------------
//品牌色 主色
$rx-color-primary = #15BDD7 //产品主色，用于按钮图标，以及选中状态
//文字颜色
$rx-text-color-primary = #000000 //主要文字颜色 用于导航栏标题 一级标题
$rx-text-color-dark-grey = #5A5A5A //弹窗正文文字 个人中心图标文字 二级标题
$rx-text-color-grey = #959595 //button文字 提示性文字 正文内容文字
//其他颜色
$rx-bg-color = #F7F7F7 //用于内容间距背景色
$rx-border-color = #F1F1F1 //用于边框 分割线

//标准字------------------------------------------------
$rx-text-size-h1 = 32rpx //一级标题
$rx-text-size-h2 = 30rpx //二级标题
$rx-text-size = 26rpx //正文 