.productData {
  width:100%;
  text-align: center;
  border-collapse: collapse; 
  border: 1px solid #ebeef5;
tr {
	th {
		background-color: #dbeef2;
			color: #333;
		}
td {
			padding: 6px 0 3px 0;
		}
	}
}
.promotionScope1 {
	
}
.promotionScope2 {
	margin-bottom: 0px;
}