<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bat.goods.dao.category.CategoryDistributorGroupRelevanceMapper">
    <resultMap id="BaseResultMap" type="com.bat.goods.dao.category.dataobject.CategoryDistributorGroupRelevanceDO">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="category_id" jdbcType="INTEGER" property="categoryId"/>
        <result column="distributor_group_id" jdbcType="INTEGER" property="distributorGroupId"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from category_distributor_group_relevance
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.bat.goods.dao.category.dataobject.CategoryDistributorGroupRelevanceDO">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into category_distributor_group_relevance (category_id, distributor_group_id)
        values (#{categoryId,jdbcType=INTEGER}, #{distributorGroupId,jdbcType=INTEGER})
    </insert>
    <insert id="insertList" parameterType="java.util.List">
        INSERT INTO category_distributor_group_relevance (category_id, distributor_group_id) VALUES
        <foreach item="item" collection="list" separator=",">
            (#{item.categoryId,jdbcType=INTEGER}, #{item.distributorGroupId,jdbcType=INTEGER})
        </foreach>
    </insert>
    <update id="updateByPrimaryKey"
            parameterType="com.bat.goods.dao.category.dataobject.CategoryDistributorGroupRelevanceDO">
    update category_distributor_group_relevance
    set category_id = #{categoryId,jdbcType=INTEGER},
      distributor_group_id = #{distributorGroupId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, category_id, distributor_group_id
    from category_distributor_group_relevance
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
    select id, category_id, distributor_group_id
    from category_distributor_group_relevance
  </select>

    <select id="listDistributorGroupIdByCategoryId" resultType="int" parameterType="map">
        select distributor_group_id FROM category_distributor_group_relevance WHERE category_id = #{categoryId}
    </select>

    <delete id="deleteByCategoryId" parameterType="map">
        DELETE FROM category_distributor_group_relevance WHERE category_id = #{categoryId}
    </delete>
</mapper>