<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bat.goods.dao.goods.GoodsStoreMobileMapper">
    <resultMap id="BaseResultMap" type="com.bat.goods.dao.goods.dataobject.GoodsStoreMobileDO">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="mobile_id" jdbcType="INTEGER" property="mobileId"/>
        <result column="goods_id" jdbcType="INTEGER" property="goodsId"/>
        <result column="sort" jdbcType="INTEGER" property="sort"/>
        <result column="module_type" jdbcType="SMALLINT" property="moduleType"/>
    </resultMap>

    <resultMap id="UserGoodsListDOMapper" type="com.bat.goods.dao.goods.dataobject.UserGoodsListDO">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="goods_name" property="goodsName" jdbcType="VARCHAR"/>
        <result column="goods_name_en" property="goodsNameEn" jdbcType="VARCHAR"/>
        <result column="goods_no" property="goodsNo" jdbcType="VARCHAR"/>
        <result column="goods_type" property="goodsType" jdbcType="SMALLINT"/>
        <result column="sale_time" property="saleTime" jdbcType="DATE"/>
        <result column="diy_type" property="diyType" jdbcType="SMALLINT"/>
        <result column="image_url1" property="imageUrl1" jdbcType="VARCHAR"/>
        <result column="image_url1en" property="imageUrl1en" jdbcType="VARCHAR"/>
        <result column="sale_num" property="saleNum" jdbcType="INTEGER"/>
        <result column="under_stock_flag" property="underStockFlag" jdbcType="SMALLINT"/>
        <result column="whether_out_of_stock_in_transit" property="whetherOutOfStockInTransit" jdbcType="SMALLINT"/>
        <result column="activity" property="activity" jdbcType="INTEGER"></result>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from goods_store_mobile
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.bat.goods.dao.goods.dataobject.GoodsStoreMobileDO">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into goods_store_mobile (mobile_id, goods_id, sort,module_type
        )
        values (#{mobileId,jdbcType=INTEGER}, #{goodsId,jdbcType=INTEGER},
        #{sort,jdbcType=INTEGER},#{moduleType,jdbcType=SMALLINT}
        )
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.bat.goods.dao.goods.dataobject.GoodsStoreMobileDO">
        update goods_store_mobile
        set sort = #{sort,jdbcType=INTEGER}
        where mobile_id = #{mobileId,jdbcType=INTEGER}
          and goods_id = #{goodsId,jdbcType=INTEGER}
    </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select id, mobile_id, goods_id, sort, module_type
        from goods_store_mobile
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select id, mobile_id, goods_id, sort, module_type
        from goods_store_mobile
    </select>

    <insert id="createGoodsStoreMobileList"
            parameterType="java.util.List">
        insert into goods_store_mobile (mobile_id, goods_id,sort,module_type)
        values
        <foreach item="item" collection="list" separator=",">
            (
            #{item.mobileId},
            #{item.goodsId},
            #{item.sort},
            #{item.moduleType}
            )
        </foreach>
    </insert>

    <select id="listGoodsStoreMobile" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select id, mobile_id, goods_id, sort, module_type
        from goods_store_mobile
        where mobile_id = #{mobileId}
    </select>

    <update id="updateGoodsStoreMobileSort" parameterType="map">
        UPDATE goods_store_mobile
        SET sort = #{sort}
        where id = #{id,jdbcType=INTEGER}
    </update>


    <update id="updateGoodsStoreMobileList" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update goods_store_mobile
            set sort = #{item.sort,jdbcType=INTEGER}
            where mobile_id = #{item.mobileId,jdbcType=INTEGER} and goods_id = #{item.goodsId,jdbcType=INTEGER}
        </foreach>
    </update>


    <delete id="deleteGoodsStoreMobileByMobileId" parameterType="java.lang.Integer">
        delete
        from goods_store_mobile
        where mobile_id = #{mobileId,jdbcType=INTEGER}
    </delete>

    <delete id="deleteGoodsStoreMobileList" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            delete from goods_store_mobile where mobile_id = #{item.mobileId,jdbcType=INTEGER} and goods_id =
            #{item.goodsId,jdbcType=INTEGER} and module_type=#{item.moduleType,jdbcType=SMALLINT}
        </foreach>
    </delete>

    <select id="listUserGoodsListByMobile" parameterType="map" resultMap="UserGoodsListDOMapper">
        select g.id, g.goods_name, g.goods_name_en, g.goods_no, g.goods_type, g.diy_type,g.sale_time, g.image_url1,
        g.image_url1en,gsd.sale_num,gi.onway_sale_flag,

        <!--如果在途或者在库的标识有一个为空，则返回无库存,否则就按照原有的返回-->
        IF(gsf.under_stock_flag IS NULL ,1,gsf.under_stock_flag)
        as under_stock_flag,

        IF(gsf.whether_out_of_stock_in_transit IS NULL ,1,gsf.whether_out_of_stock_in_transit)
        as whether_out_of_stock_in_transit

        from goods g
        <if test="appointType != null and appointType == 3">
            left join goods_store_mobile gsm on g.id=gsm.goods_id
        </if>
        <if test="sortType != null and sortType == 1">
            join goods_min_max_price gmmp on gmmp.goods_id=g.id and gmmp.scale_price_id=0
        </if>
        left join goods_sale_data gsd on gsd.goods_id=g.id
        <if test="appointType != null and appointType == 1">
            join goods_classify_relevance gcr on gcr.goods_id=g.id
        </if>
        JOIN goods_item gi on gi.goods_id=g.id
        left JOIN (SELECT goods_id,warehouse_id_arr,min(under_stock_flag) as
        under_stock_flag,min(whether_out_of_stock_in_transit) as whether_out_of_stock_in_transit
        FROM goods_stock_flag WHERE warehouse_id_arr = #{warehouseIdArr} GROUP BY goods_id) as gsf
        on gsf.goods_id = g.id
        where 1=1

        <!--只看有货-->
        <if test="underStockFlag !=null ">
            <!-- 如果是直发在途  在商品支持在途的时候就判断 在途+在库<2(有货) 否则 在库等于0-->
            <if test="straightHairOnTheWay != null">
                and
                if(gi.onway_sale_flag=1,gsf.under_stock_flag + gsf.whether_out_of_stock_in_transit <![CDATA[ < ]]>
                2,gsf.under_stock_flag=0)
            </if>
            <!-- 如果是非直发在途  则判断 在途+在库<2(有货) -->
            <if test="nonStraightHairInTransit != null">
                and gsf.under_stock_flag + gsf.whether_out_of_stock_in_transit <![CDATA[ < ]]> 2
            </if>
            <!-- 如果是直发非直发的非在途  则只看在库有货 -->
            <if test="notInTransit != null">
                and gsf.under_stock_flag=0
            </if>
        </if>

        <if test="noGoodsIds != null and noGoodsIds.size()>0">
            and g.id not in
            <foreach collection="noGoodsIds" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="appointType != null">
            <if test="appointType==1">
                and gcr.classify_id in
                <foreach collection="pointIds" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="appointType==2">
                and g.brand_id in
                <foreach collection="pointIds" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="appointType==3">
                and gsm.mobile_id = #{mobileId} and gsm.module_type=#{moduleType}
            </if>
        </if>
        and g.sale_status = 3
        <if test="promotionGroupGeckillGoodsIds != null and promotionGroupGeckillGoodsIds.size()>0">
            and g.id in
            <foreach collection="promotionGroupGeckillGoodsIds" index="index" item="item" open="(" separator=","
                     close=")">
                #{item}
            </foreach>
        </if>
        <if test="@org.apache.commons.lang3.StringUtils@isNotBlank(content)">
            and (replace(g.goods_name_en,' ','') like replace(concat(concat('%',#{content}),'%'),' ','')
            or replace(g.goods_name,' ','') like replace(concat(concat('%',#{content}),'%'),' ','')
            or replace(g.keywords,' ','') like replace(concat(concat('%',#{content}),'%'),' ',''))
        </if>
        and (g.distributor_scope = 1
        <if test="brandIds != null and brandIds.size()>0">
            or (g.distributor_scope = 0 and g.brand_id in
            <foreach collection="brandIds" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
            )
        </if>
        <if test="categoryIds != null and categoryIds.size()>0">
            or (g.distributor_scope = 0 and g.category_id in
            <foreach collection="categoryIds" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
            )
        </if>
        <if test="goodsIds != null and goodsIds.size()>0">
            or (g.distributor_scope <![CDATA[ <> ]]> 0 and g.distributor_scope <![CDATA[ <> ]]> 1 and g.id in
            <foreach collection="goodsIds" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
            )
        </if>
        )
        GROUP BY g.id
        order by
        <if test="sortType == null">
            <if test="appointType != null and appointType == 3">
                gsm.sort ASC
            </if>
            <if test="appointType != null and appointType != 3">
                g.create_time DESC
            </if>
            <if test="appointType == null">
                g.create_time DESC
            </if>
        </if>
        <if test="sortType != null">
            <if test="sortType == 1">
                <if test="sortWay == 1">
                    gmmp.min_price ASC
                </if>
                <if test="sortWay == 2">
                    gmmp.min_price DESC
                </if>
                <if test="sortWay == null">
                    gmmp.min_price DESC
                </if>
            </if>
            <if test="sortType == 2">
                <if test="sortWay == 1">
                    gsd.sale_num ASC
                </if>
                <if test="sortWay == 2">
                    gsd.sale_num DESC
                </if>
                <if test="sortWay == null">
                    gsd.sale_num DESC
                </if>
            </if>
            <if test="sortType == 3">
                <if test="sortWay == 1">
                    g.sale_time ASC
                </if>
                <if test="sortWay == 2">
                    g.sale_time DESC
                </if>
                <if test="sortWay == null">
                    g.sale_time DESC
                </if>
            </if>
        </if>
    </select>

    <select id="listGoodsListByMobile" parameterType="map" resultMap="UserGoodsListDOMapper">
        select g.id, g.goods_name, g.goods_name_en, g.goods_no, g.goods_type, g.diy_type,g.sale_time, g.image_url1,
        g.image_url1en,
        gsd.sale_num
        from goods g
        <if test="appointType != null and appointType == 3">
            left join goods_store_mobile gsm on g.id=gsm.goods_id
        </if>
        <if test="sortType != null and sortType == 1">
            join goods_min_max_price gmmp on gmmp.goods_id=g.id and gmmp.scale_price_id=0
        </if>
        left join goods_sale_data gsd on gsd.goods_id=g.id
        <if test="appointType != null and appointType == 1">
            join goods_classify_relevance gcr on gcr.goods_id=g.id
        </if>
        where 1=1
        <if test="noGoodsIds != null and noGoodsIds.size()>0">
            and g.id not in
            <foreach collection="noGoodsIds" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="appointType != null">
            <if test="appointType==1">
                and gcr.classify_id in
                <foreach collection="pointIds" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="appointType==2">
                and g.brand_id in
                <foreach collection="pointIds" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="appointType==3">
                and gsm.mobile_id = #{mobileId} and gsm.module_type=#{moduleType}
            </if>
        </if>
        and g.sale_status = 3
        <if test="@org.apache.commons.lang3.StringUtils@isNotBlank(content)">
            and (replace(g.goods_name_en,' ','') like replace(concat(concat('%',#{content}),'%'),' ','')
            or replace(g.goods_name,' ','') like replace(concat(concat('%',#{content}),'%'),' ','')
            or replace(g.keywords,' ','') like replace(concat(concat('%',#{content}),'%'),' ',''))
        </if>
        order by
        <if test="sortType == null">
            <if test="appointType != null and appointType == 3">
                gsm.sort ASC
            </if>
            <if test="appointType != null and appointType != 3">
                g.create_time DESC
            </if>
            <if test="appointType == null">
                g.create_time DESC
            </if>
        </if>
        <if test="sortType != null">
            <if test="sortType == 1">
                <if test="sortWay == 1">
                    gmmp.min_price ASC
                </if>
                <if test="sortWay == 2">
                    gmmp.min_price DESC
                </if>
                <if test="sortWay == null">
                    gmmp.min_price DESC
                </if>
            </if>
            <if test="sortType == 2">
                <if test="sortWay == 1">
                    gsd.sale_num ASC
                </if>
                <if test="sortWay == 2">
                    gsd.sale_num DESC
                </if>
                <if test="sortWay == null">
                    gsd.sale_num DESC
                </if>
            </if>
            <if test="sortType == 3">
                <if test="sortWay == 1">
                    g.sale_time ASC
                </if>
                <if test="sortWay == 2">
                    g.sale_time DESC
                </if>
                <if test="sortWay == null">
                    g.sale_time DESC
                </if>
            </if>
        </if>
    </select>

    <select id="listUserGoodsListByMobileAndClassify" parameterType="map" resultMap="UserGoodsListDOMapper">
        select g.id, g.goods_name, g.goods_name_en, g.goods_no, g.goods_type, g.diy_type,g.sale_time, g.image_url1,
        g.image_url1en,gsd.sale_num,gi.onway_sale_flag,

        <!--如果在途或者在库的标识有一个为空，则返回无库存,否则就按照原有的返回-->
        IF(gsf.under_stock_flag IS NULL ,1,gsf.under_stock_flag)
        as under_stock_flag,

        IF(gsf.whether_out_of_stock_in_transit IS NULL ,1,gsf.whether_out_of_stock_in_transit)
        as whether_out_of_stock_in_transit

        from goods_classify_relevance gclr
        <if test="appointType != null and appointType == 3">
            join goods_store_mobile gsm on gsm.goods_id=gclr.goods_id
        </if>
        join goods g on g.id=gclr.goods_id
        <if test="sortType != null and sortType == 1">
            join goods_min_max_price gmmp on gmmp.goods_id=gclr.goods_id and gmmp.scale_price_id=0
        </if>
        left join goods_sale_data gsd on gsd.goods_id=gclr.goods_id
        left join category c on c.id = g.category_id
        left JOIN (SELECT goods_id,warehouse_id_arr,min(under_stock_flag) as
        under_stock_flag,min(whether_out_of_stock_in_transit) as whether_out_of_stock_in_transit
        FROM goods_stock_flag WHERE warehouse_id_arr = #{warehouseIdArr} GROUP BY goods_id) as gsf
        on gsf.goods_id = gi.goods_id
        where 1=1

        <!--只看有货-->
        <if test="underStockFlag !=null ">
            <!-- 如果是直发在途  在商品支持在途的时候就判断 在途+在库<2(有货) 否则 在库等于0-->
            <if test="straightHairOnTheWay != null">
                and
                if(gi.onway_sale_flag=1,gsf.under_stock_flag + gsf.whether_out_of_stock_in_transit <![CDATA[ < ]]>
                2,gsf.under_stock_flag=0)
            </if>
            <!-- 如果是非直发在途  则判断 在途+在库<2(有货) -->
            <if test="nonStraightHairInTransit != null">
                and gsf.under_stock_flag + gsf.whether_out_of_stock_in_transit <![CDATA[ < ]]> 2
            </if>
            <!-- 如果是直发非直发的非在途  则只看在库有货 -->
            <if test="notInTransit != null">
                and gsf.under_stock_flag=0
            </if>
        </if>

        <if test="appointType != null">
            <if test="appointType==1">
                and gclr.classify_id in
                <foreach collection="pointIds" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="appointType==2">
                and g.brand_id in
                <foreach collection="pointIds" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="appointType==3">
                and gsm.mobile_id = #{mobileId} and gsm.module_type=#{moduleType}
            </if>
        </if>
        and g.sale_status = 3 and gclr.classify_id = #{classifyId}
        <if test="promotionGroupGeckillGoodsIds != null and promotionGroupGeckillGoodsIds.size()>0">
            and g.id in
            <foreach collection="promotionGroupGeckillGoodsIds" index="index" item="item" open="(" separator=","
                     close=")">
                #{item}
            </foreach>
        </if>
        <if test="@org.apache.commons.lang3.StringUtils@isNotBlank(content)">
            and (replace(g.goods_name_en,' ','') like replace(concat(concat('%',#{content}),'%'),' ','')
            or replace(g.goods_name,' ','') like replace(concat(concat('%',#{content}),'%'),' ','')
            or replace(g.keywords,' ','') like replace(concat(concat('%',#{content}),'%'),' ',''))
        </if>
        and (g.distributor_scope = 1
        <if test="brandIds != null and brandIds.size()>0">
            or (g.distributor_scope = 0 and g.brand_id in
            <foreach collection="brandIds" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
            )
        </if>
        <if test="categoryIds != null and categoryIds.size()>0">
            or (g.distributor_scope = 0 and g.category_id in
            <foreach collection="categoryIds" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
            )
        </if>
        <if test="goodsIds != null and goodsIds.size()>0">
            or (g.distributor_scope <![CDATA[ <> ]]> 0 and g.distributor_scope <![CDATA[ <> ]]> 1 and g.id in
            <foreach collection="goodsIds" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
            )
        </if>
        ) group by g.id order by
        <if test="sortType == null">
            <if test="appointType != null and appointType == 3">
                gsm.sort ASC,g.sale_time DESC
            </if>
            <if test="appointType != null and appointType != 3">
                g.sale_time DESC
            </if>
            <if test="appointType == null">
                g.sale_time DESC
            </if>
        </if>
        <if test="sortType != null">
            <if test="sortType == 1">
                <if test="sortWay == 1">
                    gmmp.min_price ASC
                </if>
                <if test="sortWay == 2">
                    gmmp.min_price DESC
                </if>
                <if test="sortWay == null">
                    gmmp.min_price DESC
                </if>
            </if>
            <if test="sortType == 2">
                <if test="sortWay == 1">
                    gsd.sale_num ASC
                </if>
                <if test="sortWay == 2">
                    gsd.sale_num DESC
                </if>
                <if test="sortWay == null">
                    gsd.sale_num DESC
                </if>
            </if>
            <if test="sortType == 3">
                <if test="sortWay == 1">
                    g.sale_time ASC
                </if>
                <if test="sortWay == 2">
                    g.sale_time DESC
                </if>
                <if test="sortWay == null">
                    g.sale_time DESC
                </if>
            </if>
        </if>
    </select>

    <select id="listGoodsListByMobileAndClassify" parameterType="map" resultMap="UserGoodsListDOMapper">
        select g.id, g.goods_name, g.goods_name_en, g.goods_no, g.goods_type, g.diy_type,g.sale_time, g.image_url1,
        g.image_url1en,
        gsd.sale_num
        from goods_classify_relevance gclr
        <if test="appointType != null and appointType == 3">
            join goods_store_mobile gsm on gsm.goods_id=gclr.goods_id
        </if>
        join goods g on g.id=gclr.goods_id
        <if test="sortType != null and sortType == 1">
            join goods_min_max_price gmmp on gmmp.goods_id=gclr.goods_id and gmmp.scale_price_id=0
        </if>
        left join goods_sale_data gsd on gsd.goods_id=gclr.goods_id
        where 1=1
        <if test="appointType != null">
            <if test="appointType==1">
                and gcr.classify_id in
                <foreach collection="pointIds" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="appointType==2">
                and g.brand_id in
                <foreach collection="pointIds" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="appointType==3">
                and gsm.mobile_id = #{mobileId} and gsm.module_type=#{moduleType}
            </if>
        </if>
        and g.sale_status = 3 and gclr.classify_id = #{classifyId}
        <if test="@org.apache.commons.lang3.StringUtils@isNotBlank(content)">
            and (replace(g.goods_name_en,' ','') like replace(concat(concat('%',#{content}),'%'),' ','')
            or replace(g.goods_name,' ','') like replace(concat(concat('%',#{content}),'%'),' ','')
            or replace(g.keywords,' ','') like replace(concat(concat('%',#{content}),'%'),' ',''))
        </if>
        order by
        <if test="sortType == null">
            <if test="appointType != null and appointType == 3">
                gsm.sort ASC,g.sale_time DESC
            </if>
            <if test="appointType != null and appointType != 3">
                g.sale_time DESC
            </if>
            <if test="appointType == null">
                g.sale_time DESC
            </if>
        </if>
        <if test="sortType != null">
            <if test="sortType == 1">
                <if test="sortWay == 1">
                    gmmp.min_price ASC
                </if>
                <if test="sortWay == 2">
                    gmmp.min_price DESC
                </if>
                <if test="sortWay == null">
                    gmmp.min_price DESC
                </if>
            </if>
            <if test="sortType == 2">
                <if test="sortWay == 1">
                    gsd.sale_num ASC
                </if>
                <if test="sortWay == 2">
                    gsd.sale_num DESC
                </if>
                <if test="sortWay == null">
                    gsd.sale_num DESC
                </if>
            </if>
            <if test="sortType == 3">
                <if test="sortWay == 1">
                    g.sale_time ASC
                </if>
                <if test="sortWay == 2">
                    g.sale_time DESC
                </if>
                <if test="sortWay == null">
                    g.sale_time DESC
                </if>
            </if>
        </if>
    </select>
</mapper>