.sprite-icon{
  display: inline-block;
  background-image: url(../images/sprite.png);
  background-size: 286.5px 251.5px;
}
.icon-add_picture{
  width: 26.5px;
  height: 26.5px;
  background-position: 0px -203.5px;
}
.icon-arrow_r{
  width: 16px;
  height: 16px;
  background-position: -268.5px -42.5px;
}
.icon-bianji{
  width: 14px;
  height: 14px;
  background-position: -268.5px -59.5px;
}
.icon-card{
  width: 40px;
  height: 40px;
  background-position: 0px -132.5px;
}
.icon-custom{
  width: 90px;
  height: 90px;
  background-position: 0px 0px;
}
.icon-dashbox{
  width: 18px;
  height: 20px;
  background-position: -268.5px 0px;
}
.icon-delete{
  width: 22px;
  height: 22px;
  background-position: -244.5px -102px;
}
.icon-edit{
  width: 19px;
  height: 18.5px;
  background-position: -40.5px -231px;
}
.icon-handle{
  width: 25px;
  height: 18.5px;
  background-position: -105.5px -203.5px;
}
.icon-layer{
  width: 21px;
  height: 21px;
  background-position: -244.5px -192.5px;
}
.icon-location{
  width: 19.5px;
  height: 19px;
  background-position: -20px -231px;
}
.icon-move_down{
  width: 19px;
  height: 20.5px;
  background-position: -161px -132.5px;
}
.icon-move_up{
  width: 19px;
  height: 20.5px;
  background-position: 0px -231px;
}
.icon-my_address{
  width: 22.5px;
  height: 22px;
  background-position: -244.5px -79px;
}
.icon-my_cart{
  width: 23px;
  height: 20.5px;
  background-position: -244.5px -171px;
}
.icon-my_chat{
  width: 21px;
  height: 24px;
  background-position: -244.5px -54px;
}
.icon-my_collect{
  width: 20.5px;
  height: 18px;
  background-position: -131.5px -203.5px;
}
.icon-my_order{
  width: 30px;
  height: 30px;
  background-position: -182px -42.5px;
}
.icon-my_pay{
  width: 27px;
  height: 27.5px;
  background-position: -150px -173.5px;
}
.icon-my_ship{
  width: 30px;
  height: 30px;
  background-position: -182px -73.5px;
}
.icon-my_shipped{
  width: 30px;
  height: 30px;
  background-position: -182px -104.5px;
}
.icon-my_shipping{
  width: 30px;
  height: 30px;
  background-position: -182px -135.5px;
}
.icon-notice{
  width: 15px;
  height: 20.5px;
  background-position: -268.5px -21px;
}
.icon-paster{
  width: 25px;
  height: 25px;
  background-position: -27.5px -203.5px;
}
.icon-phone{
  width: 22px;
  height: 22px;
  background-position: -244.5px -125px;
}
.icon-picture{
  width: 25px;
  height: 25px;
  background-position: -53.5px -203.5px;
}
.icon-ship{
  width: 43px;
  height: 35.5px;
  background-position: -96px -91px;
}
.icon-shipPay{
  width: 49px;
  height: 40.5px;
  background-position: 0px -91px;
}
.icon-shipped{
  width: 33px;
  height: 41.5px;
  background-position: -182px 0px;
}
.icon-shipping{
  width: 45px;
  height: 37px;
  background-position: -50px -91px;
}
.icon-step_minus{
  width: 11px;
  height: 1.5px;
  background-position: -268.5px -102px;
}
.icon-step_plus{
  width: 11px;
  height: 11.5px;
  background-position: -268.5px -89.5px;
}
.icon-tab_custom_active{
  width: 27.5px;
  height: 27px;
  background-position: -178px -173.5px;
}
.icon-tab_custom{
  width: 27.5px;
  height: 27px;
  background-position: -216px 0px;
}
.icon-tab_index_active{
  width: 27px;
  height: 27px;
  background-position: -216px -140px;
}
.icon-tab_index{
  width: 27px;
  height: 27px;
  background-position: -216px -168px;
}
.icon-tab_mine_active{
  width: 27.5px;
  height: 27px;
  background-position: -216px -28px;
}
.icon-tab_mine{
  width: 27.5px;
  height: 27px;
  background-position: -216px -56px;
}
.icon-tab_theme_active{
  width: 27.5px;
  height: 27px;
  background-position: -216px -84px;
}
.icon-tab_theme{
  width: 27.5px;
  height: 27px;
  background-position: -216px -112px;
}
.icon-template_icon_brightness_pre{
  width: 29px;
  height: 29px;
  background-position: -140px -91px;
}
.icon-template_icon_brightness{
  width: 29px;
  height: 29px;
  background-position: -41px -132.5px;
}
.icon-template_icon_contrast_pre{
  width: 23px;
  height: 27px;
  background-position: -244.5px 0px;
}
.icon-template_icon_contrast{
  width: 29px;
  height: 29px;
  background-position: -71px -132.5px;
}
.icon-template_icon_Filter{
  width: 29px;
  height: 29px;
  background-position: -101px -132.5px;
}
.icon-template_icon_flip2{
  width: 29px;
  height: 29px;
  background-position: -131px -132.5px;
}
.icon-template_icon_Freeflip{
  width: 29px;
  height: 29px;
  background-position: 0px -173.5px;
}
.icon-template_icon_hsb{
  width: 29px;
  height: 29px;
  background-position: -30px -173.5px;
}
.icon-template_icon_Reset{
  width: 29px;
  height: 29px;
  background-position: -60px -173.5px;
}
.icon-template_icon_saturation_pre{
  width: 21px;
  height: 25px;
  background-position: -244.5px -28px;
}
.icon-template_icon_saturation{
  width: 29px;
  height: 29px;
  background-position: -90px -173.5px;
}
.icon-template_icon_turn{
  width: 29px;
  height: 29px;
  background-position: -120px -173.5px;
}
.icon-text{
  width: 25px;
  height: 25px;
  background-position: -79.5px -203.5px;
}
.icon-theme{
  width: 90px;
  height: 90px;
  background-position: -91px 0px;
}
.icon-tihuan{
  width: 14px;
  height: 14px;
  background-position: -268.5px -74.5px;
}
.icon-wechat{
  width: 22px;
  height: 22px;
  background-position: -244.5px -148px;
}