/* 颜色变量 */

// 主色调
$color-main = #FFDA01
$color-main-lighter = #FFF8CC

// 辅助色
$color-orange = #FF622B
$color-red = #FF0000

// 文字颜色
$color-font-white = #FFFFFF
$color-font-base = #333333
$color-font-darkGrey = #666666
$color-font-grey = #999999

// 背景色
$color-bg = #F6F6F6
$color-bg-white = #FFFFFF
$color-bg-input = #F2F2F2
$color-bg-btn = #E7E7E7
$default-bg = #F5F5F5

// 边框颜色
$color-border = rgba(231, 231, 231, 0.5)
$color-btn-border = #C6C6C6
$color-checkbox-border = #888888

// 分割线颜色（底线，详情）
$color-line = #D8D8D8
$color-line-opacity = rgba(216, 216, 216, 0.5)

// mask
$color-mask = rgba(0, 0, 0, 0.3)

// 投影
$color-shadow = -1px -2px 8px -2px rgba(153, 153, 153, 0.3)
$color-bt-shadow = 0px -1px 7px -2px rgba(189, 189, 189, 0.5);


/* 尺寸 */ 

// 字体
$font-sm = 12px
$font-xm = 13px
$font-base = 14px
$font-sl = 15px
$font-lg = 16px
$font-xl = 18px

// 圆角
$radius-xs = 4px
$radius-sm = 5px
$radius-xm = 8px
$radius-base = 10px
$radius-xl = 12px
$radius-lg = 16px
$radius-circle = 50%

// 间距
$spacing-sm = 10px
$spacing-base = 15px
$spacing-lg = 20px



/* 透明度 */
$opacity-base = 0.5
$opacity-light = 0.3
