@font-face {
  font-family: "iconfont"; /* Project id 2674433 */
  src: url('iconfont.woff2?t=1626329082575') format('woff2'),
       url('iconfont.woff?t=1626329082575') format('woff'),
       url('iconfont.ttf?t=1626329082575') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bianji:before {
  content: "\e675";
}

.icon-daifahuo1:before {
  content: "\e68e";
}

.icon-daishouhuo1:before {
  content: "\e64c";
}

.icon-dizhi:before {
  content: "\e63e";
}

.icon-yiwancheng:before {
  content: "\e620";
}

