/.idea/.gitignore
/.idea/inspectionProfiles
/.idea
/flexible-service/target/classes/com/bat/*.class
/flexible-starter/target/classes
/flexible-web/target/classes/com/bat/*.class
/logs/*.log
/flexible-api/target/classes/com/bat/flexible/api/base/util/*.class
/flexible-api/target/classes/com/bat/flexible/api/base/*.class
/flexible-api/target/classes/com/bat/flexible/api/base/common/exception/*.class
/flexible-api/target/classes/com/bat/flexible/api/base/dto/*.class
/*.iml
/flexible-api/flexible-api.iml
/flexible-manager/flexible-manager.iml
/flexible-dao/flexible-dao.iml
/flexible-service/flexible-service.iml
/flexible-starter/flexible-starter.iml
/flexible-web/flexible-web.iml
/flexible-web/target/classes/com/bat/flexible/web/product/*.class
/flexible-api/target/classes/META-INF
/flexible-api/target/classes/com/bat/*.class
/flexible-api/target/classes/com/bat/flexible/api/base/common/dto/*.class
/flexible-api/target/classes/com/bat/flexible/api/base/common/response/*.class

**/target/**