<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bat.promotion.dao.promotion.PromotionScalePriceRelevanceNoMapper">
    <resultMap id="BaseResultMap"
               type="com.bat.promotion.dao.promotion.dataobject.PromotionScalePriceRelevanceNoDO">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="promotion_id" jdbcType="INTEGER" property="promotionId"/>
        <result column="scale_price_id" jdbcType="INTEGER" property="scalePriceId"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, promotion_id, scale_price_id
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from promotion_scale_price_relevance_no
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from promotion_scale_price_relevance_no
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.bat.promotion.dao.promotion.dataobject.PromotionScalePriceRelevanceNoDO">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into promotion_scale_price_relevance_no (promotion_id, scale_price_id)
        values (#{promotionId,jdbcType=INTEGER}, #{scalePriceId,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective"
            parameterType="com.bat.promotion.dao.promotion.dataobject.PromotionScalePriceRelevanceNoDO">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into promotion_scale_price_relevance_no
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="promotionId != null">
                promotion_id,
            </if>
            <if test="scalePriceId != null">
                scale_price_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="promotionId != null">
                #{promotionId,jdbcType=INTEGER},
            </if>
            <if test="scalePriceId != null">
                #{scalePriceId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective"
            parameterType="com.bat.promotion.dao.promotion.dataobject.PromotionScalePriceRelevanceNoDO">
        update promotion_scale_price_relevance_no
        <set>
            <if test="promotionId != null">
                promotion_id = #{promotionId,jdbcType=INTEGER},
            </if>
            <if test="scalePriceId != null">
                scale_price_id = #{scalePriceId,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey"
            parameterType="com.bat.promotion.dao.promotion.dataobject.PromotionScalePriceRelevanceNoDO">
    update promotion_scale_price_relevance_no
    set promotion_id = #{promotionId,jdbcType=INTEGER},
      scale_price_id = #{scalePriceId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <delete id="deleteByPromotionId" parameterType="java.lang.Integer">
    delete from promotion_scale_price_relevance_no
    where promotion_id = #{promotionId,jdbcType=INTEGER}
  </delete>

    <insert id="createScalePriceRelevanceNoList" parameterType="java.util.List">
        INSERT INTO promotion_scale_price_relevance_no(
        promotion_id,
        scale_price_id
        ) VALUES
        <foreach item="item" collection="list" separator=",">
            (
            #{item.promotionId},
            #{item.scalePriceId}
            )
        </foreach>
    </insert>

    <select id="listScalePriceRelevanceNoIdByPromotionId" resultType="int" parameterType="java.lang.Integer">
        select scale_price_id FROM promotion_scale_price_relevance_no WHERE promotion_id = #{promotionId,jdbcType=INTEGER}
    </select>
</mapper>