<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bat.promotion.dao.check.PromotionCheckFlowMapper">
    <resultMap id="BaseResultMap" type="com.bat.promotion.dao.check.dataobject.PromotionCheckFlowDO">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="promotion_check_id" jdbcType="INTEGER" property="promotionCheckId"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="check_status" jdbcType="SMALLINT" property="checkStatus"/>
        <result column="check_time" jdbcType="TIMESTAMP" property="checkTime"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="check_sort" jdbcType="INTEGER" property="checkSort"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, promotion_check_id, user_id, user_name, check_status, check_time, remark, check_sort, 
    create_time, update_time
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select id, promotion_check_id, user_id, user_name, check_status, check_time, remark, check_sort,
    create_time, update_time
        from promotion_check_flow
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from promotion_check_flow
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByIds" parameterType="map">
        delete from promotion_check_flow
        where id in
        <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
    <insert id="insert" parameterType="com.bat.promotion.dao.check.dataobject.PromotionCheckFlowDO">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into promotion_check_flow (promotion_check_id, user_id, user_name,
        check_status, check_time, remark,
        check_sort, create_time, update_time
        )
        values (#{promotionCheckId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR},
        #{checkStatus,jdbcType=SMALLINT}, #{checkTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR},
        #{checkSort,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
        )
    </insert>
    <update id="insertList" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" separator=";">
            insert into promotion_check_flow (promotion_check_id, user_id, user_name,
            check_status, check_time, remark,
            check_sort, create_time, update_time
            )
            values (#{item.promotionCheckId,jdbcType=INTEGER}, #{item.userId,jdbcType=INTEGER},
            #{item.userName,jdbcType=VARCHAR},
            #{item.checkStatus,jdbcType=SMALLINT}, #{item.checkTime,jdbcType=TIMESTAMP},
            #{item.remark,jdbcType=VARCHAR},
            #{item.checkSort,jdbcType=INTEGER}, #{item.createTime,jdbcType=TIMESTAMP},
            #{item.updateTime,jdbcType=TIMESTAMP}
            )
        </foreach>
    </update>
    <update id="updateByPrimaryKey" parameterType="com.bat.promotion.dao.check.dataobject.PromotionCheckFlowDO">
    update promotion_check_flow
    set promotion_check_id = #{promotionCheckId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      user_name = #{userName,jdbcType=VARCHAR},
      check_status = #{checkStatus,jdbcType=SMALLINT},
      check_time = #{checkTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      check_sort = #{checkSort,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="listByPromotionCheckId" parameterType="map" resultMap="BaseResultMap">
    select id, promotion_check_id, user_id, user_name, check_status, check_time, remark, check_sort,
    create_time, update_time
    from promotion_check_flow
    where promotion_check_id = #{promotionCheckId}
  </select>
</mapper>